#Local scarpe data
*.txt
test.py

#vscode
.vscode/*
!.vscode/setting.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

#python
.venv/*

#My Configurations:
!.gitignore